<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">Gatito Book</a>
    <div class="usuario" *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle mr-1"></i> &nbsp;<a class="mr-1 username">{{
          user.name
        }}</a>
        <a class="logout" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
